---
layout: shop
title: First aid
permalink: /shop/first-aid
---
<section class="shop">

  {% for product in site.data.products %}
    {% if product.category == "First aid" %}

    <div class="shop-item">

      <img src="{{ product.image }}" alt="{{ product.name }}" class="thumbnail"/>

      <h3>{{ product.name }}</h3>
      <h5>${{ product.price }}</h5>

      <button class="snipcart-add-item"
        data-item-name="{{product.name}}"
        data-item-id="{{product.sku}}"
        data-item-image="{{product.image}}"
        data-item-url="{{product.url}}"
        data-item-price="{{product.price}}">
        Add to cart
      </button>

    </div>

    {% endif %}
  {% endfor %}

</section>
