    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>Alexander Liepman is a blah blah blag, bhad s dasod dkaodkaodwud djsdjaos zczjczojczoksod ksodkao ppwkdwkdjwidjisdodkspk sdp.</p>
                <p>Current project blah blah <a href="http://bespokebnb.com">BespokeB&B</a></p>
                <p>This sadada wdhwhyw dasdh <a href="http://budgetsurvivalgear.com//">Budget Survival Gear</a>.</p>
                <p>Blah blah several other projects which can be viewed on <a href="http://<insert partner site here.com>">my company site</a></p>
                <br/>
              </div>
        </div>
    </section>
