<footer class="footer">

<div class="footer-content">

  <div class="footer-social mobile">
    <a href=""><i class="fa fa-facebook-square facebook-button" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-twitter-square twitter-button" aria-hidden="true"></i></a>
  </div>

  <div class="footer-navigation">

    <div class="footer-label">

      <h4>Shop</h4>

      <nav class="footer-links">

        {% for category in site.data.categories %}
          <h5><a href="{{ category.url }}" class="footer-link link-hover">{{ category.name }}</a></h5>
        {% endfor %}

      </nav>

    </div>

    <div class="footer-label">

      <h4>Blog</h4>

      <nav class="footer-links">

        <h5><a href="{{ site.url }}/second/" class="footer-link link-hover">Post 2</a></h5>
        <h5><a href="{{ site.url }}/first/" class="footer-link link-hover">Post 1</a></h5>

      </nav>

    </div>

    <div class="footer-label">

      <h4>Company</h4>

      <nav class="footer-links">

        <h5><a href="{{ site.url }}/about/" class="footer-link link-hover">About</a></h5>
        <h5><a href="{{ site.url }}/affiliate/" class="footer-link link-hover">Affiliate program</a></h5>
        <h5><a href="{{ site.url }}/contact/" class="footer-link link-hover">Contact</a></h5>

      </nav>

    </div>

  </div>

  <div class="footer-bottom">
    <div class="copyright">

      <h5>
        © All rights reserved, BudgetSurvivalGear.com 2016
      </h5>

      <h5>
        Designed by <a href="http://jonp.io" class="footer-link link-hover">Jon Persson</a>
      </h5>

    </div>

    <div class="footer-social desktop">
      <a href=""><i class="fa fa-facebook-square facebook-button" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-twitter-square twitter-button" aria-hidden="true"></i></a>
    </div>

  </div>

</div>

</footer>

<script src="{{site.url}}/js/dimensions.js"></script>
