<nav class="navigation">

  <div class="home-button">
    <h3 class="title"><a class="title-link" href="{{site.url}}">Budget Survival Gear</a></h3>
    <h3 class="title title-mobile"><a class="title-link" href="{{site.url}}">BSG</a></h3>
  </div>

  <div class="menu-top">

    <span class="menu-item">
      <a class="menu-link" href="{{site.url}}/shop/">Shop</a>
    </span>

    <span class="menu-item">
      <a class="menu-link" href="{{site.url}}/blog/">Blog</a>
    </span>

    <span class="menu-item">
      <a class="menu-link" href="{{site.url}}/about/">About</a>
    </span>

  </div>

  <input type="checkbox" id="sidebartoggler" name="" value="">
  <div class="menu-mobile">
    <label class="menu-button" for="sidebartoggler">Menu</label>
    <div class="menu-dropdown">

      <span class="menu-item">
        <a class="menu-link" href="{{site.url}}/shop/">Shop</a>
      </span>

      <span class="menu-item">
        <a class="menu-link" href="{{site.url}}/blog/">Blog</a>
      </span>

      <span class="menu-item">
        <a class="menu-link" href="{{site.url}}/about/">About</a>
      </span>

    </div>
  </div>

  <div class="cart-header">

    <div class="snipcart-summary big-summary">
        <span class="snipcart-total-items"></span> items,
        <span class="snipcart-total-price"></span>
    </div>

    <a href="#" class="snipcart-checkout snipcart-summary mobile-summary">
      <span class="snipcart-total-items mobile-total-items"></span>
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </a>

  </div>

</nav>
