h1, h2, h3, h4, h5, p, a
  color: lighten($text-color, 20%)

h1
  font-size: ms(3)
  font-weight: 800

h2
  font-size: ms(2)
  font-weight: 800

h3
  font-size: ms(1)
  font-weight: 300

h1, h2, h3
  font-family: $title-font-family

p
  font-family: $base-font-family
  font-weight: 300
  font-size: ms(0)

h4
  font-family: $base-font-family
  font-weight: 300
  font-size: ms(1) / 1.25
  line-height: 2

h5
  font-family: $title-font-family
  font-weight: 300
  font-size: ms(0)
  color: $grey-color
  margin: 2.5rem 0

a
  text-decoration: none
  transition: all 0.1s ease-in

  &:hover
    color: $brand-color
    transition: all 0.1s ease-in

.link-hover
  position: relative

  &::after
    position: absolute
    top: 100%
    left: 0
    width: 100%
    height: 1px
    background: $title-color
    content: ''
    transition: all 0.3s ease-in
    transform: translate(0, -5px)
    opacity: 0

  &:hover
    color: $brand-color

    &::after
      height: 3px
      transform: translate(0, 0px)
      opacity: 1
      background: $brand-color



/**
 * Clearfix
%clearfix
  &:after
    content: ""
    display: table
    clear: both
