.blog-wrapper
  background-color: $grey-color-light

  .blog-header
    width: 100vw
    height: calc(35vh + 110px)
    background-image: url(../img/bg.jpg)
    display: flex
    justify-content: center
    align-items: center

    .blog-title
      margin: 0
      color: $title-color
      text-align: center

  .blog-posts
    margin: auto

    .blog-post
      margin: 0
      padding: 6.25% 12.5%
      width: 100vw

      &:hover
        background-color: $background-color

      .post-title
        margin: 0
