*
  box-sizing: border-box

html
  width: 100vw
  height: 100vh
  overflow-x: hidden

  body
    margin: 0

    .hero
      height: 100vh
      width: 100vw

      background:
        color: $grey-color-dark
        image: url(../img/bg.jpg)

    .content-wrapper
      width: 100vw
