.product-page
  width: 80%
  margin: auto
  margin: 5% 0

  display: flex
  flex-wrap: wrap

  .product-image
    max-width: 40%
    object-fit: contain

  .product-information
    max-width: 60%

    .size-selection

      .product-size

      .active
        background-color: blue
