@include media-query($on-palm)
  .content-wrapper

    .post-header
      transform: translate(250px, 0)
      width: calc(100% - 250px)

      .post-title
        font-size: ms(3)


    .shop
      transform: translate(250px, 0)
      width: calc(100% - 250px)

      .shop-item

        img

        .snipcart-add-item
