---
layout: shop
title: Clothing and gear
permalink: /shop/clothing-and-gear/
---
<section class="shop">

  {% for product in site.data.products %}
    {% if product.category == "Clothing and gear" %}

    <a href="{{ product.url }}" class="shop-item">

      <img src="{{ product.image }}" alt="{{ product.name }}" class="thumbnail"/>

      <div class="product-information">
        <h3>{{ product.name }}</h3>
        <h5>${{ product.price }}</h5>
      </div>

    </a>

    {% endif %}
  {% endfor %}

</section>
