---
layout: default
---
<div class="content-wrapper">
<header class="header-side">
  <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>

  <section>
    <a class="share-link twitter-link" href="https://twitter.com/ajliepman">
      <div class="social-icon" data-icon="ei-sc-twitter" data-size="l"></div>
    </a>
    <a class="share-link linkedin-link" href="https://linkedin.com/in/ajl">
      <div class="social-icon" data-icon="ei-sc-linkedin" data-size="l"></div>
    </a>
    <a class="share-link email-link" href="mailto:@gmail.com">
      <div class="social-icon" data-icon="ei-envelope" data-size="l"></div>
    </a>
  </section>
</header>

<section class="content">
  <h1>About me</h1>
  {{ content }}
</section>
</div>
